.index {
  background-color: #ffffff;
  height: 2244px;
  position: relative;
  width: 1440px;
}

.index .overlap-group {
  background-image: url(https://cdn.animaapp.com/projects/648878975caa4f471e87cd45/releases/653a404d102d58de9d925ea7/img/rectangle-6.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 1024px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.index .vector {
  height: 52px;
  left: 78px;
  position: absolute;
  top: 73px;
  width: 76px;
}

.index .group {
  height: 36px;
  left: 1342px;
  position: absolute;
  top: 81px;
  width: 49px;
}

.index .div {
  height: 200px;
  left: 78px;
  position: absolute;
  top: 412px;
  width: 1322px;
}

.index .AIFMD-and-management {
  color: #f4f4f4;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1320px;
}

.index .frame {
  align-items: center;
  background-color: #9f836c;
  border-radius: 5px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 541px;
  padding: 15px 48px;
  position: absolute;
  top: 150px;
}

.index .text-wrapper {
  color: #ffffff;
  font-family: "Montserrat", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.index .p {
  color: #002d3c;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 80px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 1230px;
  width: 601px;
}

.index .text-wrapper-2 {
  color: #002d3c;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 80px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 1283px;
  width: 601px;
}

.index .div-wrapper {
  align-items: center;
  background-color: #9f836c;
  border-radius: 5px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 84px;
  padding: 15px 23px;
  position: absolute;
  top: 1444px;
}

.index .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -2px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.index .text-wrapper-4 {
  color: #002d3c;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 766px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 1230px;
  width: 601px;
}

.index .text-wrapper-5 {
  color: #002d3c;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 766px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 1312px;
  width: 601px;
}

.index .frame-2 {
  align-items: center;
  background-color: #9f836c;
  border-radius: 5px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 766px;
  padding: 15px 23px;
  position: absolute;
  top: 1444px;
}

.index .text-wrapper-6 {
  color: #002d3c;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 600;
  left: 89px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1143px;
}

.index .frame-3 {
  background-color: #002d3c;
  height: 630px;
  left: 0;
  position: absolute;
  top: 1614px;
  width: 1440px;
}

.index .text-wrapper-7 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 465px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 78px;
}

.index .frame-4 {
  align-items: center;
  background-color: #9f836c;
  border-radius: 5px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 1158px;
  padding: 15px 48px;
  position: absolute;
  top: 132px;
}

.index .text-wrapper-8 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.index .FNX-dublin-limited {
  color: #f4f4f4;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 96px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 269px;
  width: 1248px;
}

.index .span {
  color: #f4f4f4;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 34px;
}

.index .text-wrapper-9 {
  font-weight: 700;
}

.index .text-wrapper-10 {
  color: #f4f4f4;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 600;
  left: 96px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 535px;
  white-space: nowrap;
}

.index .text-wrapper-11 {
  color: #f4f4f4;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 96px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 369px;
  white-space: nowrap;
}

.index .text-wrapper-12 {
  color: #f4f4f4;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 96px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 419px;
  white-space: nowrap;
}

.index .SFDR-disclosures {
  color: #f4f4f4;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 96px;
  letter-spacing: 0;
  line-height: 34px;
  position: absolute;
  top: 469px;
  white-space: nowrap;
}

.index .img {
  height: 52px;
  left: 96px;
  position: absolute;
  top: 58px;
  width: 76px;
}
